@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito.ttf)
}
body{
  font-family: Nunito;
}
#heart{
  width: 20px;
  height: 20px;
  color: black;
  position: sticky;
}
#footer{
  text-align: center;
  font-size: small;
}
.color{
  color:#EC4067;
}
.button1{
  padding: 5px;
  font-size: 16px;
  background-color: #EC4067;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
color: white;
}
.container{
  position: relative;
}
.bottomleft{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 15px;
  color: white;
}
.bottomright{
  position: absolute;
  right: 16px;
  bottom: 8px;
  font-size: 15px;
  color: white;
}
.button2{
  padding: 5px;
  font-size: medium;
  background-color: #EC4067;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  color: white;
}
.nav{
  text-align: right;
  padding: 5px;
  margin: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#line{
  display: inline-block;
}
.flex-container{
    display: flex;
 }
.main_div{
  display: grid;
  grid-template-columns: 50% 50%;
}
image_section{
  height: 70px;
  width: 70px;
  background-color: red;
}
.enroll-button{
  float: right;
  background-color: #EC4067;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.float-right{
  float: right;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}
.float-left{
  float: left;
}